/* list */
.list {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* list > li */
.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    gap: 20px;
    padding: 10px 0;
}

/* 첫 번째 li */
.list li:first-child {
    border-top: 1px solid #dcdcdc;
}

/* 이미지 박스 p */
.list li p {
    margin-left: 30px;
    width: 90px;
    height: 120px;
    overflow: hidden;
    position: relative;
    border: 1px solid silver;
    box-sizing: border-box;
}

/* 이미지 */
.list li p img {
    position: absolute;
    left: -10px;
    width: 130%;
}

/* 텍스트 영역 */
.list li div {
    width: 60%;
}

/* 제목 */
.list li div strong {
    display: block;
    font-size: 25px;
}

/* 설명 */
.list li div span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}

/* 버튼 */
.list li button {
    width: 80px;
    height: 36px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 14px;
    border-radius: 16px;
    margin-right: 30px;
}
